.body{
    padding: 0;
    margin: 0;
}
.card_Main{
    width: 100%;   
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 0 0 ;
    grid-gap: 20px; 
    justify-content: center; 
}
.card{
    text-align: center;
}